body {
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
}
button {
    background-color: #64b067;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'SimHei', sans-serif;
}
h1 {
    color: #645f5f;
    font-family: 'SimHei', sans-serif;
}
.initialPage {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 15%;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.row {
    display: flex;
    align-items: flex-end;
}
.row select {
    height: 40px;
    width: 500px;
    padding: 6px;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'SimHei', sans-serif;
    color: #645f5f;
}
.row input {
    height: 40px;
    width: 500px;
    padding: 6px;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'SimHei', sans-serif;
}
.row button {
    height: 40px;
    width: 80px;
    padding: 10px;
    box-sizing: border-box;
}
.lineContent {
    height: 40px;
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'SimHei', sans-serif;
    color: #645f5f;
}
.filePath {
    height: 40px;
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'SimHei', sans-serif;
    color: #645f5f;
}
.dialoguePage {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.dialogueBox {
    border: 2px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    height: 400px;
    overflow-y: scroll;
    background-color: #f9f9f9;
}
.userText {
    text-align: right;
    white-space: pre-wrap;
    color: #333;
    font-family: 'Helvetica';
}
.botText {
    text-align: left;
    white-space: pre-wrap;
    color: #333;
    font-family: 'Helvetica';
}
.systemText {
    text-align: left;
    white-space: pre-wrap;
    color: #857d7d;
    font-weight: bold;
    font-family: 'Helvetica';
}